.intro-header {
    padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    height:100%;
    background: url(/static/img/slide1bg.jpg) no-repeat center center;
    background-size: cover;
}

.fill {
	height:100%;
	min-height:100%;
}

.bump {
	position: absolute;
	top:35%;
	margin-left:auto;
	margin-right:auto;
}

.right10 {
	padding-right:10px;
}

.white {
	color:#FFF;
}

body, html {
	height:100%;
}

.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
}
